.coin-block {
  width: 360px;
  height: 182px;
  box-shadow: 0 3px 1px -3px gray;
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
  position: relative;
}
.mobile-coin-block {
  composes: coin-block;
  height: 80px;
  width: initial;
  padding: 16px 0;
  flex-direction: row;
}

.row {
  display: flex;
  flex-grow: 1;
}

.coin-names {
  width: 200px;
  flex-grow: 1;

  > span {
    display: block;

    &:nth-child(1) {
      font-family: Roboto-Medium;
      font-size: 24px;
      color: #3A4160;
      line-height: 35px;
    }

    &:nth-child(2) {
      font-family: Roboto-Regular;
      font-size: 20px;
      color: #9CA6D3;
      line-height: 25px;
    }
  }
}
.mobile-coin-names {
  composes: coin-names;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: initial;

  > span {
    display: block;

    &:nth-child(1) {
      font-family: Roboto-Regular;
      font-size: 16px;
      color: #3A4160;
      line-height: 20px;
    }

    &:nth-child(2) {
      font-family: Roboto-Regular;
      font-size: 14px;
      color: #9CA6D3;
      line-height: 20px;
    }
  }
}

.coin-icon {
  height: 80px;
}
.mobile-coin-icon {
  height: 48px;
  margin-right: 8px;
}

.coin-rate {
  position: relative;
  font-family: Roboto-Medium;
  font-size: 24px;
  color: #3A4160;
  line-height: 20px;
}
.mobile-coin-rate {
  position: relative;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #3A4160;
  text-align: right;
  line-height: 20px;

  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  > p {
    display: inline-block;
    vertical-align: middle;
  }
}
