.container {
  display: flex;
  padding: 16px 5%;
  box-shadow: 0 -4px 16px 0;
}
.mobile-container {
  composes: container;
  padding: 0;
  display: flex;
  height: 56px;
}

.menu {
  position: relative;
  display: flex;
  margin: 0 5% 0 auto;

  > input {
    display: none;
  }

  > label {
    font-family: OpenSans-Semibold;
    font-size: 16px;
    color: rgba(74,74,74,0.25);
    letter-spacing: 0;
    text-align: center;

    margin-left: 40px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
.mobile-menu {
  composes: menu;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

  > label {
    margin-left: 0;
  }
}

.price-checkbox-style:checked ~ .price-label {
  color: #3F5498;
}

.wallet-checkbox-style:checked ~ .wallet-label {
  color: #3F5498;
}

.account-checkbox-style:checked ~ .account-label {
  color: #3F5498;
}

.price-label {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  color: rgba(74,74,74,0.25);
  letter-spacing: 0;
}

.mobile-icon {
  display: block;
  padding-bottom: 3px;
  margin: 0 auto;
  text-align: center;

  ~ span {
    display: block;
    font-family: OpenSans-Semibold;
    font-size: 12px;
    letter-spacing: 0;
  }
}
