.app-mobile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-mobile-langswitcher {
  min-height: 140px;
  display: flex;
  justify-content: center;
}
