.mobile-align {
  display: flex;
  position: relative;
}

.arrow-down {
  position: relative;
  height: 16px;
  position: relative;
  right: 23px;
}

.mobile-arrow-down {
  composes: arrow-down;
  top: 4px;
}
